

.header {
  grid-area: header;
  background-color: blue;
}

.footer {
  grid-area: footer;
  background-color: blue;
}

.main {
  grid-area: main;
  background-color: grey;
}

.sidebar {
  grid-area: sidebar;
  background-color: yellow;
}

.wrapper{
  display: grid;
  grid-template-rows: 100px 280px 200px 335px;
  grid-template-areas:
  "header"
  "sidebar"
  "main"
  "footer";
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 544px){
  .wrapper {
    grid-template-columns: 80% 20%;
    grid-template-rows: 100px auto 40px;
    grid-template-areas:
    "header header"
    "main   sidebar"
    "footer footer";
  }
}
