

hr {
  color: black;
  margin-left: 250px;
  margin-right: 250px;
}

.header {
  grid-area: header;
  text-align: center;
  margin-top: 30px;
}

.subheader {
  grid-area: header;
  text-align: center;
  background-color: white;
}

.projects {
  display: table;
  width: auto;
  cursor: pointer;
}

.project {
  display: none;
  overflow: hidden;
}

.projects:hover {
  background-color: lightgray;
}

a:hover {
  background-color: yellow;
  cursor: pointer;
}

.footer {
  grid-area: footer;
  margin-left: 350px;
}

.main {
  grid-area: main;
  margin-left: 350px;
  margin-top: 30px;
}

.sidebar {
  grid-area: sidebar;
  margin-left: 100px;
  margin-top: 40px;
  /*background-color: yellow;*/
}

.wrapper{
  display: grid;
  grid-template-rows: 100px 280px 200px 335px;
  grid-template-areas:
  "header"
  "sidebar"
  "main"
  "footer";
  width: 100vw;
  height: 100vh;
}

@media only screen and (min-width: 544px){
  .wrapper {
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px auto 40px;
    grid-template-areas:
    "header header"
    "main   sidebar"
    "footer footer";
  }
}
